.section2 {
    background-color: #615d5d;
    padding-bottom: 40px;
    min-height: 70px;
}

/*Div principal que albergara los div de la imagen y del texto*/
.section2-div-child{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

/*SECCION DE IMAGEN*/
.section2-div-img{
    width: 20%;
    padding-top: 29px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.section2-img{
    width: 100%;
}
/*------------------*/


.section2-div-text{
    width: 50%;
    text-align: center;
    font-family: sans-serif;
    padding-top: 20px;
}

#pStyle3{
    font-style: italic;
}
