.section1 {
    background-color: #ff0000;
    text-align: right;
    padding-bottom: 40px;
    min-height: 70px;
    
}

.titulo1{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
}

.parrafo1{
    width: 70%;
    margin: 0 auto; /*margin: 0 auto sirve para centrar automaticamente 
    al centro de la pagina el contenido del div con el ancho 
    (width) determinado*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;


}

#pStyle1{
    color: rgb(133, 76, 5);
    font-weight: bold;
    font-size: 16px;
}

#pStyle2{
    font-style: italic;
    font-size: 14px;
}

/*DIV PADRE DE LOS CONTENEDORES DE IMAGENES*/
.main-div-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*CONTENEDOR DE IMAGEN 1*/
.image1-div{
    width: 30%;
    min-width: 120px;
    box-sizing: border-box;
    padding: 5px;
}

.image1{
    width: 100%;
}
/*-----------------------*/

/*CONTENEDOR DE IMAGEN 2*/
.image2-div{
    width: 30%;
    min-width: 120px;
    box-sizing: border-box;
    padding: 5px;
}

.image2{
    width: 100%;
}
/*-----------------------*/

/*CONTENEDOR DE IMAGEN 3*/
.image3-div{
    width: 30%;
    min-width: 120px;
    box-sizing: border-box;
    padding: 5px;
}

.image3{
    width: 100%;
}
/*-----------------------*/

/*BOTON DEBAJO DE IMAGENES*/
.buttom-main-div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 13px;
}

.buttom-box{
    height: 30px;
    width: 30%;
    background-color: lightgray;
}
/*-----------------------*/

/*DIV DE IMAGEN DEBAJO DEL BOTON*/
.bottom-logo-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 18px;
}

.bottom-logo-img{
    width: 4%;
}
/*-----------------------*/



@media (max-width:700px){
    /*cuando la ventana sea menor a 700 pixeles, se ejecuta esta query*/
    .section1{
        flex-direction: column;
        /* todo lo que este dentro de la etiqueta <section1> tomara la direccion
        en forma de columna es decir (eje Y), se recomienda que el header no lleve
        altura fija es decir, ocurriran errores si hay en header un height simple con un valor de pixeles 
        asignados*/
    }
}
